# Predictive Diagnostics in Health care

In [2]:
import seaborn as sns # import seaborn library

In [3]:
a=[]
sns.get_dataset_names()    # show in seaborn library all data set name

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
df=sns.load_dataset("healthexp")    # load health exp data set

In [5]:
df   #view the dataset

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [6]:
df.head(5)   # view top five rows

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [7]:
df.info()   #  view data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             274 non-null    int64
 1   Country          274 non-null    object
 2   Spending_USD     274 non-null    float64
 3   Life_Expectancy  274 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 8.7+ KB

In [8]:
df.shape   # view number of row and number of column

(274, 4)

In [9]:
df['Country'].unique()   # show number of countries data avalble in the dataset

array(['Germany', 'France', 'Great Britain', 'Japan', 'USA', 'Canada'],
      dtype=object)

In [10]:
country_name=[]   # create list of the dataset empty
for i in df['Country']:   #using for loop
    if i not in country_name: #   checking the data is available in the country_name list or not
        country_name.append(i)     # using if , if it is not available then it will add in the country_name list
    else:
        continue   # if data is avalable then not required to add the country name in the country_name list
print(country_name)   # show the country_name list

['Germany', 'France', 'Great Britain', 'Japan', 'USA', 'Canada']

In [11]:
df['Year'].count()  #number of year

274

In [12]:
df['Year'].unique()  # numbeer of unique year

array([1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980,
       1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991,
       1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002,
       2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [13]:
df['Spending_USD']   # number of USD spending

0        252.311
1        192.143
2        123.993
3        150.437
4        326.961
         ...
269     6938.983
270     5468.418
271     5018.700
272     4665.641
273    11859.179
Name: Spending_USD, Length: 274, dtype: float64

In [14]:
print('total spending of all countries', df['Spending_USD'].sum())   #  show total spend on health

total spending of all countries 764278.86

#### Total spending on helth of different countries

In [15]:
for i in country_name:   # using for loop show total usd spend cuntrieywise
    print(f'Total spending on helth of {i} is :',df[df['Country']==i]['Spending_USD'].sum())

Total spending on helth of Germany is : 133364.01
Total spending on helth of France is : 106580.07699999999
Total spending on helth of Great Britain is : 87470.276
Total spending on helth of Japan is : 94873.153
Total spending on helth of USA is : 223817.09699999998
Total spending on helth of Canada is : 118174.24699999999

In [16]:
country_name  # show country name

['Germany', 'France', 'Great Britain', 'Japan', 'USA', 'Canada']

In [17]:
df[df['Country']=='Germany']['Life_Expectancy'].mean()   # average spend of germany's every person

76.726

In [18]:
[x for x in range(10) if x%2==0]   #  show only even number

[0, 2, 4, 6, 8]

In [19]:
[df[df['Country']==i]['Spending_USD'].sum() for i in country_name]  # show country wise spend ever person

[133364.01,
 106580.07699999999,
 87470.276,
 94873.153,
 223817.09699999998,
 118174.24699999999]

In [20]:
df['Life_Expectancy'].min() # minimum life expectancy

70.6

In [21]:
df['Life_Expectancy'].max() # maximum life expectancy

84.7

In [22]:
df['Life_Expectancy'].mode()  # maximum number of people life expectancy

0    78.8
1    81.0
Name: Life_Expectancy, dtype: float64

In [23]:
df.columns  # show total number of column

Index(['Year', 'Country', 'Spending_USD', 'Life_Expectancy'], dtype='object')

In [24]:
df['Year'].max() # last year

2020

In [25]:
df['Year'].min()  # start year

1970

In [26]:
df['Year'].mode()  # maximum number of people years

0     1980
1     1985
2     1990
3     1992
4     1993
5     1994
6     1995
7     1996
8     1997
9     1998
10    1999
11    2000
12    2001
13    2002
14    2003
15    2004
16    2005
17    2006
18    2007
19    2008
20    2009
21    2010
22    2011
23    2012
24    2013
25    2014
26    2015
27    2016
28    2017
29    2018
30    2019
31    2020
Name: Year, dtype: int64

In [27]:
all_year_list=[]  # make total number of years
for i in df['Year']:
    all_year_list.append(i)
print(all_year_list)

[1970, 1970, 1970, 1970, 1970, 1971, 1971, 1971, 1971, 1971, 1972, 1972, 1972, 1973, 1973, 1973, 1974, 1974, 1974, 1975, 1975, 1975, 1975, 1976, 1976, 1976, 1976, 1977, 1977, 1977, 1978, 1978, 1978, 1979, 1979, 1979, 1979, 1980, 1980, 1980, 1980, 1980, 1980, 1981, 1981, 1981, 1981, 1981, 1982, 1982, 1982, 1982, 1982, 1983, 1983, 1983, 1983, 1983, 1984, 1984, 1984, 1984, 1984, 1985, 1985, 1985, 1985, 1985, 1985, 1986, 1986, 1986, 1986, 1986, 1987, 1987, 1987, 1987, 1987, 1988, 1988, 1988, 1988, 1988, 1989, 1989, 1989, 1989, 1989, 1990, 1990, 1990, 1990, 1990, 1990, 1991, 1991, 1991, 1991, 1991, 1992, 1992, 1992, 1992, 1992, 1992, 1993, 1993, 1993, 1993, 1993, 1993, 1994, 1994, 1994, 1994, 1994, 1994, 1995, 1995, 1995, 1995, 1995, 1995, 1996, 1996, 1996, 1996, 1996, 1996, 1997, 1997, 1997, 1997, 1997, 1997, 1998, 1998, 1998, 1998, 1998, 1998, 1999, 1999, 1999, 1999, 1999, 1999, 2000, 2000, 2000, 2000, 2000, 2000, 2001, 2001, 2001, 2001, 2001, 2001, 2002, 2002, 2002, 2002, 2002, 2002, 2003, 2003, 2003, 2003, 2003, 2003, 2004, 2004, 2004, 2004, 2004, 2004, 2005, 2005, 2005, 2005, 2005, 2005, 2006, 2006, 2006, 2006, 2006, 2006, 2007, 2007, 2007, 2007, 2007, 2007, 2008, 2008, 2008, 2008, 2008, 2008, 2009, 2009, 2009, 2009, 2009, 2009, 2010, 2010, 2010, 2010, 2010, 2010, 2011, 2011, 2011, 2011, 2011, 2011, 2012, 2012, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2013, 2013, 2014, 2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019, 2019, 2019, 2020, 2020, 2020, 2020, 2020, 2020]

In [28]:
len(all_year_list)  # total number of years

274

In [29]:
List_2=[x for x in all_year_list if x>1995]   # make of list of total number of year more than 1995
print(List_2)   # shwo the list

[1996, 1996, 1996, 1996, 1996, 1996, 1997, 1997, 1997, 1997, 1997, 1997, 1998, 1998, 1998, 1998, 1998, 1998, 1999, 1999, 1999, 1999, 1999, 1999, 2000, 2000, 2000, 2000, 2000, 2000, 2001, 2001, 2001, 2001, 2001, 2001, 2002, 2002, 2002, 2002, 2002, 2002, 2003, 2003, 2003, 2003, 2003, 2003, 2004, 2004, 2004, 2004, 2004, 2004, 2005, 2005, 2005, 2005, 2005, 2005, 2006, 2006, 2006, 2006, 2006, 2006, 2007, 2007, 2007, 2007, 2007, 2007, 2008, 2008, 2008, 2008, 2008, 2008, 2009, 2009, 2009, 2009, 2009, 2009, 2010, 2010, 2010, 2010, 2010, 2010, 2011, 2011, 2011, 2011, 2011, 2011, 2012, 2012, 2012, 2012, 2012, 2012, 2013, 2013, 2013, 2013, 2013, 2013, 2014, 2014, 2014, 2014, 2014, 2014, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018, 2018, 2018, 2018, 2019, 2019, 2019, 2019, 2019, 2019, 2020, 2020, 2020, 2020, 2020, 2020]

In [30]:
len(List_2) # show the total numer of years in the list

150

In [31]:
print(len(all_year_list)-len(List_2)) # show the total number of years less than 1995

124

In [32]:
df.dtypes

Year                 int64
Country             object
Spending_USD       float64
Life_Expectancy    float64
dtype: object

In [33]:
df.head(2)

   Year  Country  Spending_USD  Life_Expectancy
0  1970  Germany       252.311             70.6
1  1970   France       192.143             72.2

In [34]:
df.head(2)

   Year  Country  Spending_USD  Life_Expectancy
0  1970  Germany       252.311             70.6
1  1970   France       192.143             72.2

### avarage life expentancy of different countries

In [35]:
[print(f'avarage life expentancy of {i} is : ',df[df['Country']==i]['Life_Expectancy'].mean()) for i in country_name]

avarage life expentancy of Germany is :  76.726
avarage life expentancy of France is :  79.5657142857143
avarage life expentancy of Great Britain is :  77.62093023255815
avarage life expentancy of Japan is :  79.5549019607843
avarage life expentancy of USA is :  75.84313725490196
avarage life expentancy of Canada is :  78.70681818181818

[None, None, None, None, None, None]

### maximum life expentancy of different countries

In [36]:
[print(f'maximum life expentancy of {i} is : ',df[df['Country']==i]['Life_Expectancy'].max()) for i in country_name]

maximum life expentancy of Germany is :  81.3
maximum life expentancy of France is :  82.9
maximum life expentancy of Great Britain is :  81.4
maximum life expentancy of Japan is :  84.7
maximum life expentancy of USA is :  78.9
maximum life expentancy of Canada is :  82.2

[None, None, None, None, None, None]

### minimum life expentancy of different countries

In [37]:
[print(f'minimum life expentancy of {i} is : ',df[df['Country']==i]['Life_Expectancy'].min()) for i in country_name]

minimum life expentancy of Germany is :  70.6
minimum life expentancy of France is :  72.2
minimum life expentancy of Great Britain is :  71.9
minimum life expentancy of Japan is :  72.0
minimum life expentancy of USA is :  70.9
minimum life expentancy of Canada is :  72.8

[None, None, None, None, None, None]

In [39]:
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [41]:
df.groupby(by='Country')['Spending_USD'].sum()

Country
Canada           118174.247
France           106580.077
Germany          133364.010
Great Britain     87470.276
Japan             94873.153
USA              223817.097
Name: Spending_USD, dtype: float64

In [45]:
df.groupby(by='Country')['Life_Expectancy'].mean()

Country
Canada           78.706818
France           79.565714
Germany          76.726000
Great Britain    77.620930
Japan            79.554902
USA              75.843137
Name: Life_Expectancy, dtype: float64

In [46]:
df.groupby(by='Year')['Life_Expectancy'].mean()

Year
1970    71.520000
1971    71.920000
1972    71.800000
1973    72.033333
1974    72.400000
1975    72.850000
1976    73.325000
1977    73.700000
1978    73.866667
1979    74.500000
1980    74.233333
1981    74.620000
1982    74.920000
1983    75.120000
1984    75.420000
1985    75.616667
1986    75.860000
1987    76.180000
1988    76.260000
1989    76.480000
1990    76.916667
1991    77.060000
1992    77.100000
1993    77.083333
1994    77.450000
1995    77.450000
1996    77.766667
1997    78.066667
1998    78.283333
1999    78.383333
2000    78.716667
2001    78.950000
2002    79.083333
2003    79.133333
2004    79.683333
2005    79.766667
2006    80.150000
2007    80.366667
2008    80.483333
2009    80.766667
2010    80.933333
2011    81.100000
2012    81.216667
2013    81.316667
2014    81.633333
2015    81.433333
2016    81.616667
2017    81.633333
2018    81.683333
2019    81.833333
2020    81.200000
Name: Life_Expectancy, dtype: float64

### Thank you