In [1]:
print('avijit')

avijit

In [2]:
import pandas as pd

In [3]:
import pandas as pd

# Read in the stock data
data = pd.read_csv(r"D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\msdasm work\matrix\df_bel_d.csv")

# Calculate the monthly returns
returns = data["Close"].pct_change()

# Calculate the annualized returns
annualized_returns = returns.mean() * 12

# Print the annualized returns
print(annualized_returns)

0.015068629294616364

In [6]:
import pandas as pd

# Assuming 'share_prices.csv' contains the daily share price data with a column named 'Closing_Value'
# Load the CSV file into a DataFrame
data = pd.read_csv(r"D:\Pyn\online learning\INURAN_DATA\FSDS_September\TEST_WORK\msdasm work\matrix\df_bel_d.csv")

In [7]:
data

            Open        High         Low       Close   Adj Close    Volume
0      11.898989   12.212121   11.898989   12.101515    9.819762   2590929
1      11.969696   12.116161   11.888888   11.931818    9.682062   2565585
2      12.006060   12.070707   11.819191   11.915151    9.668537   6399855
3      11.919191   12.111111   11.677777   11.838888    9.606653   7690221
4      11.645959   11.822222   11.627272   11.650505    9.453794    154836
...          ...         ...         ...         ...         ...       ...
2504  137.550003  138.949997  136.699997  138.050003  138.050003   8587321
2505  137.750000  141.149994  137.699997  140.399994  140.399994   9755483
2506  139.949997  139.949997  137.600006  137.949997  137.949997   5481774
2507  137.500000  139.100006  137.050003  138.800003  138.800003   5781314
2508  139.149994  144.199997  139.050003  143.399994  143.399994  20245049

[2509 rows x 6 columns]

In [8]:
# Convert the date column to a datetime object if needed
data['Date'] = pd.to_datetime(data['Date'])

KeyError: 'Date'

In [ ]:
# Calculate monthly total returns
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

# Group data by year and month, calculate total return for each month
monthly_returns = data.groupby(['Year', 'Month'])['Closing_Value'].sum().reset_index()

# View the DataFrame with monthly total returns
print(monthly_returns)

In [10]:
import yfinance as yf
data=yf.download("TATASTEEL.NS",start="2013-09-11",end="2023-09-15",interval="1d")

[*********************100%%**********************]  1 of 1 completed

In [11]:
# Calculate monthly total returns
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month

# Group data by year and month, calculate total return for each month
monthly_returns = data.groupby(['Year', 'Month'])['Closing_Value'].sum().reset_index()

# View the DataFrame with monthly total returns
print(monthly_returns)

KeyError: 'Date'

In [12]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-09-11,28.772646,30.373243,28.439188,30.077894,23.078749,95300974
2013-09-12,29.906403,30.249388,28.710718,28.844101,22.132061,69624927
2013-09-13,28.829809,29.134686,28.239115,28.420134,21.806749,76520957
2013-09-16,29.010830,29.234722,27.576962,27.781799,21.316957,58291817
2013-09-17,27.638889,27.862783,27.143467,27.457869,21.068401,77234229
...,...,...,...,...,...,...
2023-09-08,131.399994,131.649994,129.199997,129.500000,129.500000,34313523
2023-09-11,129.500000,131.850006,129.199997,131.149994,131.149994,33377857
2023-09-12,132.800003,133.149994,128.649994,129.000000,129.000000,38065283
2023-09-13,129.600006,130.500000,127.699997,129.550003,129.550003,23371459
2023-09-14,131.000000,134.199997,130.800003,131.699997,131.699997,58800620